body {
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    color: red;
    text-align: center;
}

aside {
    padding: 0px;
}

input[type="button"] {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
}

input[type="text"] {
    margin-left: 10px;
    padding: 5px;
}

h2 {
    background-color: yellow;
    color: red;
    display: block;
    margin: 20px 0;
}

.button-like {
    background-color: green;
    color: red;
    padding: 5px;
    margin: 5px 0;
}

pre{
    color: red;
    font-size: px;
}

img {
    vertical-align: middle;
    margin-right: 5px;
    width: 50px;
}

.tutorial {
    background-color: yellow;
    color: red;
    padding: 5px;
    margin-top: 10px;
}

.ads {
    background-color: lightgrey;
    color: red;
    text-align: center;
}

footer {
    background-color: black;
    color: red;
    text-align: center;
    
}

footer a {
    color: blue;
    margin: 0 10px;
    text-decoration: none;
}
